{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - NutriXa</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="login-page">
     
    <div class="login-container">


    
        <div class="logo-area">
    
            <div class="logo-circle">🍃</div>
    
            <div class="logo-title">NUTRIXA</div>
    
        </div>

    
        <h2 class="title">Criar Conta</h2>
        <form method="POST">
            {% csrf_token %}

    
            <input type="text" name="username">
    
            <input type="email" name="email">
    
            <input type="password" name="password">

    
            <button type="submit">Cadastrar</button>

        </form>

    
        <a href="{% url 'login' %}" class="link-text">
    
            Já possui conta? Faça Login
    
        </a>

    </div>
    
    <script src="{% static 'js/script.js' %}"></script>
    
</body>

</html>