{% load static %}

<!DOCTYPE html>
<html>
<head>
    ...
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div class="top-bar">
        <button class="back-btn">←</button>
        <h3>Cadastrar Refeição</h3>
    </div>
    
    <div class="form-group">
         <label>Tipo de Refeição</label>
         <select>
            <option>Almoço</option>
            <option>Jantar</option>
        </select>
    </div>
    
    <div class="form-group">
        <label>Nome da Refeição</label>
        <input type="text">
    </div>
    
    <div class="form-group">
        <label>Modo de Preparo</label>
        <textarea></textarea>
    </div>
    
    <button class="btn-primary">
        Salvar Refeição
    </button>
    
    <div class="bottom-nav"> 
        <a href="{% url 'home' %}" class="nav-item">
            <div class="nav-icon">🏠</div>
            <span>Início</span>        
        </a>

        <a href="{% url 'plsemanal' %}" class="nav-item">
            <div class="nav-icon">📅</div>
            <span>Plano</span>
        </a>

        <a href="{% url 'compras' %}" class="nav-item">
            <div class="nav-icon">🛒</div>
            <span>Compras</span>
        </a>
    
        <a href="{% url 'perfil' %}" class="nav-item">
            <div class="nav-icon">👤</div>
            <span>Perfil</span>
        </a>

    </div>

    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>