{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Compras - NutriXa</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="top-bar">
        <h2>🛒 Lista de Compras</h2>
    </div>

    <div class="green-card">
        <h3>Total da Lista</h3>
        <p>8 itens cadastrados</p>
    </div>

    <div class="meal-item">
        <div class="meal-info">
            <h4>Arroz Integral</h4>
            <p>2 pacotes</p>
        </div>
    </div>

    <div class="meal-item">
        <div class="meal-info">
            <h4>Feijão</h4>
            <p>1 pacote</p>
        </div>
    </div>

    <div class="meal-item">
        <div class="meal-info">
            <h4>Peito de Frango</h4>
            <p>1 kg</p>
        </div>
    </div>

    <div class="meal-item">
        <div class="meal-info">
            <h4>Banana</h4>
            <p>12 unidades</p>
        </div>
    </div>

    <div class="meal-item">
        <div class="meal-info">
            <h4>Leite</h4>
            <p>2 litros</p>
        </div>
    </div>

    <button class="btn-primary">
        + Adicionar Item
    </button>

    <div class="bottom-nav">

        <a href="{% url 'home' %}" class="nav-item">
            <div class="nav-icon">🏠</div>
            <span>Início</span>
        </a>

        <a href="{% url 'plsemanal' %}" class="nav-item">
            <div class="nav-icon">📅</div>
            <span>Plano</span>
        </a>

        <a href="{% url 'compras' %}" class="nav-item">
            <div class="nav-icon">🛒</div>
            <span>Compras</span>
        </a>

        <a href="{% url 'perfil' %}" class="nav-item">
            <div class="nav-icon">👤</div>
            <span>Perfil</span>
        </a>

    </div>

    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>