{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Compras - NutriXa</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div class="shopping-header">

    <h1>Lista de Compras </h1>

</div>

<div class="green-card total-card">

    <div>
        <p>Total da Lista</p>
        <h2>R$ 0,00</h2>
        <p>0 itens</p>
    </div>

    <button class="btn-resumo">
        Ver Resumo
    </button>

</div>

<h3>Adicionar Produto</h3>

<div class="green-card add-product-card">

    <div class="product-inputs">

        <div class="form-group">
            <label>Produto</label>
            <input type="text" placeholder="Ex: Arroz Integral">
        </div>

        <div class="form-group">
            <label>Preço (R$)</label>
            <input type="number" placeholder="Ex: 0,00">
        </div>

    </div>

    <button class="btn-add-product">
        + Adicionar à Lista
    </button>

</div>

<h3 class="lista-title">Minha Lista</h3>

<div class="empty-list">

    <div class="empty-icon">
        📋
    </div>

    <h3>Sua Lista Está Vazia</h3>

    <p>
        Adicione produtos e preços acima para
        montar sua lista de compras.
    </p>

</div>

</div>
    
    <div class="bottom-nav">

    
        <a href="{% url 'home' %}" class="nav-item">
    
            <div class="nav-icon"></div>
    
            <span>Início</span>
    
        </a>

    
        <a href="{% url 'plsemanal' %}" class="nav-item">
    
            <div class="nav-icon"></div>
    
            <span>Plano</span>
    
        </a>

    
        <a href="{% url 'compras' %}" class="nav-item active">
    
            <div class="nav-icon"></div>
    
            <span>Compras</span>
    
        </a>

    
        <a href="{% url 'perfil' %}" class="nav-item">
    
            <div class="nav-icon"></div>
    
            <span>Perfil</span>
    
        </a>


    </div>

</body>
</html>