{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriXa</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div class="home-header">

    
        <div class="home-left">
    
            <img src="{% static 'img/slogan NUTRIXA.png' %}" class="logo-img">
    
        </div>

    
        <div class="home-center">
            {% if user.is_authenticated %}
            <h3>Olá, {{ user.username }}!</h3>
            {% else %}
            <h3>Olá!</h3>
            {% endif %}
            <p>Segunda-feira, 22 de junho</p>
    
        </div>

    
        <div class="home-right">
            <img src="{% static 'img/perfil.png' %}"
            alt="Perfil"
            class="avatar">    
        </div>


    </div>


    <div class="green-card">

    <div class="card-title-row">
        <h4>Resumo do Dia</h4>
        <a href="{% url 'plsemanal' %}" class="btn-link">Ver Todas</a>
    </div>

    <div class="progress-container">
        <div class="circle-progress">62%</div>

        <div>
            <h3>1.250 / 2.000 kcal</h3>
            <p>750 kcal restantes</p>
        </div>
    </div>

    <div class="macros-grid">
        <div>Proteínas<br>75g / 120g</div>
        <div>Carboidratos<br>140g / 250g</div>
        <div>Gorduras<br>35g / 60g</div>
    </div>

</div>

<h4 style="margin: 20px 0 10px;">Refeições do Dia</h4>

    <div class="meal-item">

        <div class="meal-info">

            <h4>Café da Manhã</h4>

            <p>08:00 • Pão integral com ovo</p>

        </div>

        <a href="{% url 'cafemanha' %}" class="btn-details">
           
            Detalhes

        </a>

    </div>


    <div class="meal-item">

        <div class="meal-info">

            <h4>Almoço</h4>

            <p>12:30 • Arroz, Feijão e Frango</p>

        </div>


        <a href="{% url 'almoco' %}" class="btn-details">
            Detalhes

        </a>

    </div>


    <div class="meal-item">
        <div class="meal-info">

            <h4>Lanche da Tarde</h4>

            <p>16:00 • Banana e Iogurte</p>

        </div>



        <a href="{% url 'lanche' %}" class="btn-details">
            
            Detalhes

        </a>

    </div>



    <div class="meal-item">


        <div class="meal-info">

            <h4>Jantar</h4>

            <p>19:30 • Macarrão ao molho e Frango</p>

        </div>


        <a href="{% url 'jantar' %}" class="btn-details">

            Detalhes

        </a>
    </div>

    
    <div class="bottom-nav">

    
        <a href="{% url 'home' %}" class="nav-item active">
    
            <div class="nav-icon"></div>
    
            <span>Início</span>
    
        </a>

    
        <a href="{% url 'plsemanal' %}" class="nav-item">
    
            <div class="nav-icon"></div>
    
            <span>Plano</span>
    
        </a>

    
        <a href="{% url 'compras' %}" class="nav-item">
    
            <div class="nav-icon"></div>
    
            <span>Compras</span>
    
        </a>

    
        <a href="{% url 'perfil' %}" class="nav-item">
    
            <div class="nav-icon"></div>
    
            <span>Perfil</span>
    
        </a>


    </div>


    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>