{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - NutriXa</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="login-page">

    <div class="login-container">
        
        <div class="logo-area">
       
            <div class="logo-circle"></div>
       
            <div class="logo-title">NUTRIXA</div>
       
            <div class="logo-subtitle">Planejador de Refeições</div>
    
        </div>

    
        <h2 class="title">Login</h2>
        
       <form method="POST">
         {% csrf_token %}

    
         <input type="text" name="username" placeholder="Usuário">
         <input type="password" name="password" placeholder="Senha">

         <button type="submit">Entrar</button>

        </form>

    
        <a href="{% url 'cadastro' %}" class="link-text">
    
            Criar Conta
    
        </a>
    
    
        <script src="{% static 'js/script.js' %}"></script>

</body>
</html>